.footer {
  background-color: var(--secondary-bcg-color);
  padding-top: 40px;
}

.footer__title-box {
  max-width: 234px;
  margin-bottom: 40px;
  @include tablet {
    max-width: 340px;
  }
  @include desktop {
    max-width: 474px;
  }
}

.footer__title-top {
  font-family: var(--title-ff);
  color: var(--subtitle-color);
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 16px;
  @include tablet {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
  }
  @include desktop {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
  }
}

.footer__title-bottom {
  font-family: var(--title-ff);
  color: var(--title-color);
  font-size: 34px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  @include tablet {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
  @include desktop {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
