p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
