:root {
  --bcg-color: #ffffff;
  --pink-hero-color: #ffb8ca;
  --secondary-bcg-color: #fff5f6;
  --text-color: #000000;
  --secondary-text-color: #907e82;
  --title-color: #d41443;
  --subtitle-color: #ffa5ba;
  --latte-color: #f0d1a5;
  --soft-green-color: #c2e297;
  --mob-menu-color: #e17992;
  --btn-hover-color: #ecebeb;

  // Шрифти
  --standard-ff: 'DM Sans';
  --title-ff: 'Titan One';
}
