<footer class="footer">
  <div class="container">
    <div class="footer__title-box">
      <p class="footer__title-top">Homemade ice cream made</p>
      <p class="footer__title-bottom">with passion</p>
    </div>
    <ul class="social">
      <li class="social__item">
        <a href="" class="social__link">
          <svg class="social__icon" width="32" height="32">
            <use href="./images/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="" class="social__link">
          <svg class="social__icon" width="32" height="32">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="" class="social__link">
          <svg class="social__icon" width="32" height="32">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__text">
      Feel free to contact
      <a href="tel:+610383766284" class="footer__tel">+61 (0) 383 766 284</a>
    </p>
    <p class="footer__Rights">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
