<section class="advantages">
    <div class="container">
        <h2 class="advantages__title visually-hidden">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item icon-1pic">
                <span class="advantages__item-count">721</span>
                <p class="advantages__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item icon-2pic">
                <span class="advantages__item-count">16kg</span>
                <p class="advantages__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item icon-3pic">
                <span class="advantages__item-count">84</span>
                <p class="advantages__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>