<section class="contacts">
    <h2 class="contacts__title">Contacts</h2>
    <ul class="contacts__list">
        <li class="contacts__item">
            <p class="contacts__category-repr">Cafe</p>
            <h3 class="contacts__town">Chicago</h3>
            <p class="contacts_town-subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="contacts__work-schedule">
                <li class="contacts__working-days">
                    <p class="contacts__days">Monday - Friday</p>
                    <p class="contacts__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="contacts__weekend">
                    <p class="contacts__day">Saturday - Sunday</p>
                    <p class="contacts__time">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
            <div class="contacts__communication">
                <a class="contacts__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
        <li class="contacts__item">
            <p class="contacts__category-repr">Food Truck</p>
            <h3 class="contacts__town">Los Angeles</h3>
            <p class="contacts_town-subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="contacts__work-schedule">
                <li class="contacts__working-days">
                    <p class="contacts__days">Monday - Friday</p>
                    <p class="contacts__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="contacts__weekend">
                    <p class="contacts__day">Saturday - Sunday</p>
                    <p class="contacts__time">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
            <div class="contacts__communication">
                <a class="contacts__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
        <li class="contacts__item">
            <p class="contacts__category-repr">Cafe</p>
            <h3 class="contacts__town">New York</h3>
            <p class="contacts_town-subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="contacts__work-schedule">
                <li class="contacts__working-days">
                    <p class="contacts__days">Monday - Friday</p>
                    <p class="contacts__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="contacts__weekend">
                    <p class="contacts__day">Saturday - Sunday</p>
                    <p class="contacts__time">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
            <div class="contacts__communication">
                <a class="contacts__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
    </ul>
    <div class="contacts__modal">
        <button class="contacts__btn-locations" type="button">Our Locations</button>
        <Button class="contacts__btn-franchise" type="button">Franchise</Button>
    </div>
</section>