<section class="gallery  ">
  <h2 hidden>Gallery Ice Cream</h2>
  <div class="gallery__container">
    <ul class="gallery__list ">
      <li class="gallery__item gallery__item-one">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-pic1-mobile.png    1x,
              ./images/gallery/galery-pic1-mobile@2x.png 2x,
              ./images/gallery/galery-pic1-mobile@3x.png 3x
            "
            type="image/png"
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic1-tablet.png    1x,
              ./images/gallery/galery-pic1-tablet@2x.png 2x,
              ./images/gallery/galery-pic1-tablet@3x.png 3x
            "
            type="img/png"
            media="(min-width:768px) and (max-width:1199px)"
          />

          <source
            srcset="
            ./images/gallery/galery-pic1-desktop.png    1x,
            ./images/gallery/galery-pic1-desktop@2x.png 2x,
            ./images/gallery/galery-pic1-desktop@3x.png 3x
            "
            type="img/png"
            media="(min-width:1200px)"
          />
          <img
            src="./images/gallery/galery-pic1-desktop.png"
            alt="icecream with rose"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item-two">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-pic2-mobile.png    1x,
              ./images/gallery/galery-pic2-mobile@2x.png 2x,
              ./images/gallery/galery-pic2-mobile@3x.png 3x
            "
            type="image/png"
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic2-tablet.png    1x,
              ./images/gallery/galery-pic2-tablet@2x.png 2x,
              ./images/gallery/galery-pic2-tablet@3x.png 3x
            "
            type="img/png"
            media="(min-width:768px) and (max-width:1199px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic2-desktop.png    1x,
              ./images/gallery/galery-pic2-desktop@2x.png 2x,
              ./images/gallery/galery-pic2-desktop@3x.png 3x
            "
            type="img/png"
            media="(min-width:1200px)"
          />
          <img src="./images/gallery/galery-pic2-desktop.png" alt="icecream pink" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-three">
        <picture>

          <source
            srcset="
              ./images/gallery/galery-pic3-mobile.png    1x,
              ./images/gallery/galery-pic3-mobile@2x.png 2x,
              ./images/gallery/galery-pic3-mobile@3x.png 3x
            "
            type="image/png"
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic3-tablet.png    1x,
              ./images/gallery/galery-pic3-tablet@2x.png 2x,
              ./images/gallery/galery-pic3-tablet@3x.png 3x
            "
            type="img/png"
            media="(min-width:768px) and (max-width:1199px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic3-desktop.png    1x,
              ./images/gallery/galery-pic3-desktop@2x.png 2x,
              ./images/gallery/galery-pic3-desktop@3x.png 3x
            "
            type="img/png"
            media="(min-width:1200px)"
          />
          <img
            src="./images/gallery/galery-pic3-desktop.png"
            alt="ice cream with rasberries "
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item-four">
        <picture>

          <source
            srcset="
              ./images/gallery/galery-pic4-mobile.png    1x,
              ./images/gallery/galery-pic4-mobile@2x.png 2x,
              ./images/gallery/galery-pic4-mobile@3x.png 3x
            "
            type="image/png"
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic4-tablet.png    1x,
              ./images/gallery/galery-pic4-tablet@2x.png 2x,
              ./images/gallery/galery-pic4-tablet@3x.png 3x
            "
            type="img/png"
            media="(min-width:768px) and (max-width:1199px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic4-desktop.png    1x,
              ./images/gallery/galery-pic4-desktop@2x.png 2x,
              ./images/gallery/galery-pic4-desktop@3x.png 3x
            "
            type="img/png"
            media="(min-width:1200px)"
          />
          <img
            src="./images/gallery/galery-pic4-desktop.png"
            alt="ice cream with blueberry"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item-five">
        <picture>

          <source
            srcset="
              ./images/gallery/galery-pic5-mobile.png    1x,
              ./images/gallery/galery-pic5-mobile@2x.png 2x,
              ./images/gallery/galery-pic5-mobile@3x.png 3x
            "
            type="image/png"
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic5-tablet.png    1x,
              ./images/gallery/galery-pic5-tablet@2x.png 2x,
              ./images/gallery/galery-pic5-tablet@3x.png 3x
            "
            type="img/png"
            media="(min-width:768px) and (max-width:1199px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic5-desktop.png    1x,
              ./images/gallery/galery-pic5-desktop@2x.png 2x,
              ./images/gallery/galery-pic5-desktop@3x.png 3x
            "
            type="img/png"
            media="(min-width:1200px)"
          />
          <img
            src="./images/gallery/galery-pic5-desktop.png"
            alt="girl with ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item-six">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-pic6-mobile.png    1x,
              ./images/gallery/galery-pic6-mobile@2x.png 2x,
              ./images/gallery/galery-pic6-mobile@3x.png 3x
            "
            type="image/png"
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic6-tablet.png    1x,
              ./images/gallery/galery-pic6-tablet@2x.png 2x,
              ./images/gallery/galery-pic6-tablet@3x.png 3x
            "
            type="img/png"
            media="(min-width:768px) and (max-width:1199px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic6-desktop.png    1x,
              ./images/gallery/galery-pic6-desktop@2x.png 2x,
              ./images/gallery/galery-pic6-desktop@3x.png 3x
            "
            type="img/png"
            media="(min-width:1200px)"
          />
          <img
            src="./images/gallery/galery-pic6-desktop.png"
            alt="portion of ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item-seven">
        <picture>

          <source
            srcset="
              ./images/gallery/galery-pic7-mobile.png    1x,
              ./images/gallery/galery-pic7-mobile@2x.png 2x,
              ./images/gallery/galery-pic7-mobile@3x.png 3x
            "
            type="image/png"
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic7-tablet.png    1x,
              ./images/gallery/galery-pic7-tablet@2x.png 2x,
              ./images/gallery/galery-pic7-tablet@3x.png 3x
            "
            type="img/png"
            media="(min-width:768px) and (max-width:1199px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic7-desktop.png    1x,
              ./images/gallery/galery-pic7-desktop@2x.png 2x,
              ./images/gallery/galery-pic7-desktop@3x.png 3x
            "
            type="img/png"
            media="(min-width:1200px)"
          />
          <img
            src="./images/gallery/galery-pic7-desktop.png"
            alt="ice cream on the street"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item-eight">
        <picture>

          <source
            srcset="
              ./images/gallery/galery-pic8-mobile.png    1x,
              ./images/gallery/galery-pic8-mobile@2x.png 2x,
              ./images/gallery/galery-pic8-mobile@3x.png 3x
            "
            type="image/png"
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic8-tablet.png    1x,
              ./images/gallery/galery-pic8-tablet@2x.png 2x,
              ./images/gallery/galery-pic8-tablet@3x.png 3x
            "
            type="img/png"
            media="(min-width:768px) and (max-width:1199px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic8-desktop.png    1x,
              ./images/gallery/galery-pic8-desktop@2x.png 2x,
              ./images/gallery/galery-pic8-desktop@3x.png 3x
            "
            type="img/png"
            media="(min-width:1200px)"
          />
          <img
            src="./images/gallery/galery-pic8-desktop.png"
            alt="dog with ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item-nine">
        <picture>

          <source
            srcset="
              ./images/gallery/galery-pic9-mobile.png    1x,
              ./images/gallery/galery-pic9-mobile@2x.png 2x,
              ./images/gallery/galery-pic9-mobile@3x.png 3x
            "
            type="image/png"
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic9-tablet.png    1x,
              ./images/gallery/galery-pic9-tablet@2x.png 2x,
              ./images/gallery/galery-pic9-tablet@3x.png 3x
            "
            type="img/png"
            media="(min-width:768px) and (max-width:1199px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic9-desktop.png 1x,
              ./images/gallery/galery-pic9-desktop@2x.png 2x,
              ./images/gallery/galery-pic9-desktop@3x.png 3x
            "
            type="img/png"
            media="(min-width:1200px)"
          />
          <img src="./images/gallery/galery-pic9-desktop.png" alt="ice coffee" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-ten">
        <picture>

          <source
            srcset="
              ./images/gallery/galery-pic10-mobile.png    1x,
              ./images/gallery/galery-pic10-mobile@2x.png 2x,
              ./images/gallery/galery-pic10-mobile@3x.png 3x
            "
            type="image/png"
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic10-tablet.png    1x,
              ./images/gallery/galery-pic10-tablet@2x.png 2x,
              ./images/gallery/galery-pic10-tablet@3x.png 3x
            "
            type="img/png"
            media="(min-width:768px) and (max-width:1199px)"
          />

          <source
            srcset="
              ./images/gallery/galery-pic10-desktop.png    1x,
              ./images/gallery/galery-pic10-desktop@2x.png 2x,
              ./images/gallery/galery-pic10-desktop@3x.png 3x
            "
            type="img/png"
            media="(min-width:1200px)"
          />
          <img src="./images/gallery/galery-pic10-desktop.png" alt="milkshakes" />
        </picture>
      </li>
    </ul>
  </div>
</section>
