<section class="about" id="section-about">
  <div class="container">
    <p class="about__label-title">tradition and love</p>
    <h2 class="about__title">how it's made?</h2>
    <div class="about__wrapper">
      <div class="about__img-wrapper">
        <picture>
          <source
            srcset="
              ./images/about/about-cow-mobile.webp    1x,
              ./images/about/about-cow-mobile@2x.webp 2x,
              ./images/about/about-cow-mobile@3x.webp 3x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/about/about-cow-mobile.png    1x,
              ./images/about/about-cow-mobile@2x.png 2x,
              ./images/about/about-cow-mobile@3x.png 3x
            "
            type="image/png"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/about/about-cow-tablet.webp    1x,
              ./images/about/about-cow-tablet@2x.webp 2x,
              ./images/about/about-cow-tablet@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:768px) and (max-width:1199px)"
          />
          <source
            srcset="
              ./images/about/about-cow-tablet.png    1x,
              ./images/about/about-cow-tablet@2x.png 2x,
              ./images/about/about-cow-tablet@3x.png 3x
            "
            type="image/png"
            media="(min-width:768px) and (max-width:1199px)"
          />
          <source
            srcset="
              ./images/about/about-cow-desktop.webp    1x,
              ./images/about/about-cow-desktop@2x.webp 2x,
              ./images/about/about-cow-desktop@3x.webp 3x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/about/about-cow-desktop.png    1x,
              ./images/about/about-cow-desktop@2x.png 2x,
              ./images/about/about-cow-desktop@3x.png 3x
            "
            type="image/png"
            media="(min-width:1200px)"
          />
          <img src="./images/about/about-cow-mobile.png" alt="bio eco milk" />
        </picture>
      </div>
      <div class="about__text-wrapper">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="about__btn" data-about-modal-open>
          Read more
          <svg class="about__btn-icon" height="12" width="6">
            <use href="./images/icons.svg#icon-more"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
<div class="about-backdrop is-hidden" data-about-modal>
  <div class="about-modal">
    <button type="button" class="about-modal__close" data-about-modal-close>
      <svg class="about-close-icon" height="20" width="20">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="about__title">how it's made?</h2>
    <p class="about-modal__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nisi ea
      consequatur labore enim commodi facilis laborum exercitationem illo,
      pariatur dignissimos quia error quos voluptatem consectetur architecto
      cupiditate minima nostrum.
    </p>
    <p class="about-modal__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error repellendus
      non fugiat, facere similique, atque deserunt possimus nam soluta
      aspernatur velit odit natus doloribus iste! Officiis laboriosam eos
      corporis suscipit.
    </p>
    <p class="about-modal__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod cum omnis,
      consequatur repellat ab necessitatibus asperiores voluptate velit,
      dignissimos quaerat nostrum placeat praesentium repellendus amet ipsa.
      Error veniam magni ipsam libero laborum delectus consequuntur voluptates
      iusto nam similique officiis eius dignissimos tempore itaque aliquid fuga
      voluptatum, facilis id. Eius, quos!
    </p>
    <p class="about-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, earum?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ea harum
      minus! Est iure dicta accusamus recusandae totam doloribus quo, obcaecati
      at. Corporis maiores, iure dolorem eos, sunt ratione numquam tenetur iste
      esse quia possimus ex consequuntur vero. Labore iusto quibusdam eveniet
      incidunt quo magni maxime, minus optio deserunt odit. Dicta, aut repellat!
      Sapiente illum, fuga in consequatur vitae repudiandae eius porro quidem
      et, eum temporibus architecto obcaecati aperiam, sed harum beatae? Illum
      rem, sapiente cupiditate, voluptatem facere dignissimos quia perspiciatis
      ducimus illo esse eligendi libero suscipit quos animi mollitia dolorum sed
      voluptate recusandae! In quam, nisi veritatis est tempora officiis ratione
      iste consectetur provident sunt doloremque quidem asperiores dolor ipsam,
      magni laborum rerum voluptas magnam impedit. Maiores fugit corrupti itaque
      sunt. Eveniet alias maiores explicabo! Modi labore voluptate sed totam
      quis nobis ducimus officia fugiat rerum aperiam delectus doloremque,
      voluptas nisi blanditiis repudiandae perferendis eum. Accusantium est quam
      sequi.
    </p>
    <p class="about-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, earum?
    </p>
  </div>
</div>
