<section class="section-reviews" id="reviews">
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="client">
            <!-- <source srcset="/src/images/rewievs/reviews-img-desktop.webp 1x, reviews-img-desktop@2.webp 2x, reviews-img-desktop@3.webp 3x" type="image/webp"/> -->
            <source
              srcset="
                /src/images/rewievs/reviews-img-desktop.png    1x,
                /src/images/rewievs/reviews-img-desktop@2x.png 2x,
                /src/images/rewievs/reviews-img-desktop@3x.png 3x
              "
              media="(min-width: 1200px)"
            />
            <!-- <source srcset="/src/images/rewievs/reviews-img-tablet.webp 1x, reviews-img-tablet@2.webp 2x,  reviews-img-tablet@3.webp 3x"
                        type="image/webp" /> -->
            <source
              srcset="
                /src/images/rewievs/reviews-img-tablet.png    1x,
                /src/images/rewievs/reviews-img-tablet@2x.png 2x,
                /src/images/rewievs/reviews-img-tablet@3x.png 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/images/rewievs/reviews-img-mobile.webp    1x,
                /src/images/rewievs/reviews-img-mobile@2x.webp 2x,
                /src/images/rewievs/reviews-img-mobile@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              srcset="
                /src/images/rewievs/reviews-img-mobile.png    1x,
                /src/images/rewievs/reviews-img-mobile@2x.png 2x,
                /src/images/rewievs/reviews-img-mobile@3x.png 3x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/src/images/rewievs/reviews-img-desktop.png"
              alt="client"
              width="85"
              height="85"
            />
          </picture>
          <div class="swiper__text-box">
            <p class="slider-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="slider-name">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <picture class="client">
            <!-- <source
                        srcset="/src/images/rewievs/reviews-img2-desktop.webp 1x,
                                /src/images/rewievs/reviews-img2-desktop@2.webp 2x,
                                /src/images/rewievs/reviews-img2-desktop@3.webp 3x"
                        type="image/webp" /> -->
            <source
              srcset="
                /src/images/rewievs/reviews-img2-desktop.png    1x,
                /src/images/rewievs/reviews-img2-desktop@2x.png 2x,
                /src/images/rewievs/reviews-img2-desktop@3x.png 3x
              "
              media="(min-width: 1200px)"
            />

            <img
              src="/src/images/rewievs/reviews-img2-desktop.png"
              alt="client"
              width="85"
              height="85"
            />
          </picture>
          <div class="swiper__text-box">
            <p class="slider-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="slider-name"></p>
        </div>
        <div class="swiper-slide">
          <picture class="client">
            <source
              srcset="
                /src/images/rewievs/reviews-img3-desktop.webp    1x,
                /src/images/rewievs/reviews-img3-desktop@2x.webp 2x,
                /src/images/rewievs/reviews-img3-desktop@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              srcset="
                /src/images/rewievs/reviews-img3-desktop.png    1x,
                /src/images/rewievs/reviews-img3-desktop@2x.png 2x,
                /src/images/rewievs/reviews-img3-desktop@3x.png 3x
              "
              media="(min-width: 1200px)"
            />

            <img
              src="/src/images/rewievs/reviews-img3-desktop.png"
              alt="client"
              width="85"
              height="85"
            />
          </picture>
          <div class="swiper__text-box">
            <p class="slider-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="slider-name"></p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
